<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
<modules>
            <remove name="Python FastCGI" />
        </modules>
        <directoryBrowse enabled="true" />
</system.webServer>
<appSettings>
  <!-- Required settings -->
  <add key="WSGI_HANDLER" value="index.server" />
  <add key="PYTHONPATH" value="C:\inetpub\wwwroot\BYTDI\ECAT" />
</appSettings>
</configuration>