<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
<modules>
            <remove name="Python FastCGI" />
        </modules>
        <directoryBrowse enabled="true" />
        <handlers>
            <remove name="Python FastCGI" />
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\venvs\ECAT\venv\Scripts\python.exe|C:\Python\lib\site-packages\wfastcgi-3.0.0-py3.6.egg\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
</system.webServer>
<appSettings>
  <!-- Required settings -->
  <add key="WSGI_HANDLER" value="index.server" />
  <add key="PYTHONPATH" value="C:\inetpub\wwwroot\BYTDI\ECAT" />
</appSettings>
</configuration>