@font-face {
    font-family: Acumin;
    font-weight: bold;
    src: url("../assets/Acumin-BdPro.otf") format("opentype");
}

#app-container {
    width: 100%;
    max-width: none;
}

body {
    background-color: #f9f9f9;
    color: #333333;
    font-size: 15px;
    margin: 0px;
}

hr {
    margin: 0.3rem 0rem;
}

.banner {
    height: 4rem;
    padding: 0rem 0rem 0rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner Img {
    position: relative;
    height: 3rem;
    width: auto;
    margin-left: 1%;
}

H5 {
    color: #2c8cff;
    font-weight: 300;
}

H5, H3 {
    font-family: Acumin, "Helvetica Neue", sans-serif;
}

#left-column {
    margin-top: 20px;
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: calc(100vh - 5.5rem);
}

#right-column {
    background-color: #f4f4f4;
    padding: 0rem 2rem;
    min-height: calc(100vh - 5.5rem);
}